
<div id="wrapper">
<div id="icon">
 <h1 style="text-align:center">Incognito</h1>
  <img id='icon_img' src="assets/newicon.jpg" alt="icon_page" width="100px" height="100pxs">
   <p id='welcome'> Welcome to the most private land  </p>
   <div id="links_container">
    <%= link_to "General Forum", "generalposts", class: "general_post_link" %>
    <% if current_user %>
      <%= link_to current_user.university, "posts", class:"general_post_link" %>
    <% end %>
   </div>
</div>
</div>

<div>
  

</div>
