<h1>Incognito</h1>
<div>
  Hello world!
  <% if current_user %>
  <div>
      My college: <%= link_to current_user.university, "posts" %>
  </div>
  <div>
      General Forum: <%= link_to "here", "generalposts" %>
  </div>
  <% end %>
</div>
