<div id="posts_entire">
<% if params[:edit] == "1" && !(current_user && current_user.id==@post.user_id)%>
    <h1 class="wrong_access"> Please Sign in to Edit a Comment  </h1>
<%else %>
    <%= render 'comments/editform' %>
<% end %>
</div>


