
<% if params[:edit] == "1" && !(current_user && current_user.id==@post.user_id)%>
   <div class="wrong_access"> <h1> Unauthorized Access Is Not Permitted, Please Log in to Edit! </h1></div>
<% else %>

<div id="edit_post">
<h1 style="text-align:center"> Edit Your Post </h1>
<%= render 'posts/editcreate' %>
<% end %>
<div id="edit_post">