<div id="posts_entire">
<h3>Search Result</h3>  
      
  <% @results.each do |result|%>
      <p>
       <%= result.title %>
      </p>
      <p>
       <%= result.body %>
      </p>
      <div>
        <%= timestampParser(result.created_at) %>
      </div>
      
      <%= link_to "Details", result %>
      <hr/>
      
   
  <% end %> 
  </div>