/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$dark-grey: #222;
$light-grey: #9d9d9d;
$med-grey: #333333;

/* Universal */
body
{
  padding-top: 60px;
  background-image: url(/assets/abstract.jpg);
}

/* Navbar */

#logo 
{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover 
{
  text-decoration: none;
}

.container
{
  margin-left: auto;
  margin-right: auto;
}

#search-btn
{
  background-color: $dark-grey;
  color: $light-grey;
  &:focus
  {
    border: none;
    box-shadow: none;
    outline: none;
  }
}

#search-btn:hover
{
  color: white;
}

#search-bar
{
  background-color: $med-grey;
  color: $light-grey;
  border: none;
  &:focus
  {
    border: none;
    box-shadow: none;
  }
}

.search
{
  margin-top: 8px;  
}

#icon{

  background-color: white;
  position: absolute;
  height: 300px;
  width: 425px;
  margin: -100px 0 0 -200px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border:solid darkslategray 2px;
}

#welcome{
  margin-top: 10px;
  margin-left: 108px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#icon_img{
  top: 50%;
  left: 50%;
  margin-top: 10px;
  margin-left: 160px;

}

.general_post_link{
  background-color:rgb(53, 53, 219) ;
  color:white;
  padding: 4px;
  
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border:solid darkslategray;

}
.general_post_link:hover{
  color:yellow
}

.unv_link{
  background-color:rgb(53, 53, 219) ;
  color:white;
  padding: 4px;
  border-radius: 5px;

}

#links_container {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



